
/*footer section*/
.footer-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: black;
    padding-top: 40px;
}
.box2{
    width: 60vw;
    height: 18vh;
    margin: 0px auto;
    position: relative;
    top: 40px;
    border-radius: 5px;
    padding: 0px 65px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color:#f8f9fa;
    box-shadow: 3px 3px 10px 2px rgb(64, 62, 62);
    z-index: 200;
}

a{
    color: black;
    text-decoration: none;
}


.contact,.account,.app{
    background: none;
    padding: 10px;
    width: 30%;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    height: 90%;
}
footer a:hover{
    color:rgb(101, 101, 166);
}
footer i:hover{
    color: #1a1a1a;
    transform: scale(1.2);

}
.contact h5{
    display: inline-block;
}
.social-media{
    margin: 5px;
    display: flex;
    height: 5vh;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.account p,.app p{
    font-weight: 400;
}

.account,.app,.contact{
    display: flex;
    flex-direction: column;    
    align-items: center;
}
.stores{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 98%;
    margin-bottom: 10px;
    background: none;
}
.playstore,.apple{
    border-width: 2px 0.2px;
    border-style: groove groove;
    border-color: #088178 #1a1a1a;
    border-radius: 15px;
    margin-top: 5px;
}
.playstore:hover,.apple:hover{
    transform:scale(1.03);
    box-shadow: 1px 2px 5px 2px #0f2826;
}
.apple{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 10px;
    width: 11vw;
    
}
.playstore{
    padding: 21px 15px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 8vh;
}
.cards i{
    font-size: 2.2rem;
}

/*copyright*/
.copyright{
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 20vw;
    margin: auto;
}

@media screen and (max-width:1000px) {
    .box2{
        width: 95vw;
        height: 15vh;
    }
    .app h5,#store-msg,.stores{
        display: none;
    }
    .contact,.account,.app{
        width: 33%;
    }
    footer{
        padding: 40px 20px;
    }
    .cards{
        width: 99%;
    }
    .social-media{
        width: 99%;
    }
}
@media screen and (max-width:520px){
    footer{
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        
    }
    .contact,.account,.app{
        width: 100%;
    }
    .account{
        margin-top: 25px;
    }
    .social-media{
        width: 75%;
    }
    .copyright{
        display: none;
    }
}
@media screen and (max-width:380px) {
    
    .box2{
        width:98vw;
        padding: 0px 5px;
    }
}